/* setting */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    scroll-behavior: smooth;
    transition: all .5s, display .5s;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

/* setting */

/* fonts  */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Thin.ttf');
    font-weight: 250;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'LetoSans';
    src: url('../fonts/LetoSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'LetoSans';
    src: url('../fonts/LetoSans-Thin.ttf');
    font-weight: 250;
}

@font-face {
    font-family: 'SimeizLight';
    src: url('../fonts/SimeizLight Light.ttf');
    font-weight: 300;
}

/* fonts  */



.btn__login {
    padding: 10px 30px;
    color: white;
    background-color: #EA0505;
    border-radius: 29px;
    border: none;
}

.btn__logout {
    padding: 10px 25px;
    color: white;
    background-color: #EA0505;
    border-radius: 29px;
    border: none;
}

/*btn*/


/*header*/

.header-nav__ico {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons_h img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.header__btn {
    padding: 10px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #EA0505;
    background: #ffffff;
    border-radius: 29px;
}

.header__btn-red {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #ffffff;
    background: #EA0505;
    border-radius: 29px;
}


header {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.header__logo {
    margin-right: 75px;
}

.header-nav__ico {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}

.header__search_pos-r {
    position: relative;
}

.header__search {
    margin-right: 85px;
    width: 309px;
    height: 26px;
    border: none;
    background: #FFC2C2;
    padding-left: 30px;
    border-radius: 5px;
}

.header-search img {
    position: absolute;
    top: 1px;
    left: 9px;
}

/*header*/

/*item*/
.item__header {
    margin-top: 152px;
}

.bread {
    display: flex;
}

.bread a,
.bread p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #969696;
}

.item_flex {
    display: flex;
    gap: 27px;
    margin-top: 50px;
}

.item__img img {
    width: 530px;
    height: 600px;
}

.item__small-ops {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.item__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
    margin-top: 14px;
}

.d-flex {
    display: flex;

}

.item__row {
    justify-content: space-between;
    margin-top: 33px;
}

.article {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.action {
    align-items: center;
}

.action__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-top: 45px;
    color: #A6A6A6;
}

.action__subtitle {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;

    color: #000000;
}

.price {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.in-stock {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #A6A6A6;
}

.price-stock {
    gap: 40px;
    margin-top: 46px;
}

.item__nav {
    margin-top: 36px;
    justify-content: space-between;
    align-items: center;
}

.kol-vo {
    padding: 8px 21px;
    border-radius: 17px;
    background: #FFE3EF;

    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.kol-vo a,
.kol-vo p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;

    color: #EA0505;
}

.btn__to-bag a {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #EA0505;

    padding: 22px 64px;
    border-radius: 20px;
    background: #FFE3EF;
}

.item__ops {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    gap: 37px;

}

.item__ops p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


}

.seim-bold {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


}

.item__ops ul {
    margin-left: 25px;
}

.item__ops li {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


}

/*item*/

/*Similar products*/
.similar {
    margin-top: 50px;
}

.similar__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.similar__list {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.similar-item {
    width: 299px;
}

.similar__rating {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.similar-item__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #000000;
}

.similar-item__subtitle {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.item__text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.similar-item_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;

    color: #000000;
}

.item__ico {
    display: flex;
    gap: 4px;
}

/*Similar products*/

/*footer*/
footer {
    margin-top: 148px;
    padding: 67px 95px 66px 87px;
    box-shadow: 0 0 20px #FFE3EF;
    border-radius: 40px;
    background: #ffffff;

}

.footer-header {
    display: flex;
    justify-content: space-between;
}

.footer-header__column {
    display: flex;
    gap: 30px;
}

.phone a {
    font-family: 'LetoSans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.phone p {
    margin-top: 10px;

    font-family: 'LetoSans', serif;
    font-style: normal;
    font-weight: 250;
    font-size: 15px;
    line-height: 16px;

    color: #656565;
}

.footer__title {
    font-family: 'LetoSans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.footer_d-flex {
    display: flex;
    gap: 13px;
    margin-top: 10px;
}

.footer-bottom {
    border-top: 1px solid rgba(136, 136, 136, 0.2);
    margin: 27px 0;
}

.cooperating {
    font-family: 'LetoSans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    margin-top: 30px;
}

.footer__btn a {
    font-family: 'LetoSans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;

    color: #EA0505;

    display: inline-block;
    padding: 17px 55px;
    background: #FFE3EF;
    border-radius: 10px;
}

/*footer*/

/*adapt tablet*/
.tablet,
.mobile {
    display: none;
}

@media screen and (max-width: 1000px) and (min-width: 634px) {

    /* setting */
    .container {
        max-width: 635px;
        margin: 0 auto;
        position: relative;
    }

    .tablet {
        display: block;
    }

    .pc {
        display: none;
    }

    /* setting */
    /*header*/
    header {
        justify-content: space-between;
    }

    /*header*/



    /*footer*/
    .footer-header,
    .footer-header__column {
        flex-direction: column;
        gap: 17px;
    }

    .footer-header__column {
        border-bottom: 1px solid rgba(136, 136, 136, 0.2);
        padding-bottom: 17px;
    }

    .footer-bottom {
        border: none;
    }

    /*footer*/


}

/*adapt tablet*/
.tablet,
.mobile {
    display: none;
}

@media screen and (max-width: 1000px) and (min-width: 634px) {

    /* setting */
    .container {
        max-width: 635px;
        margin: 0 auto;
        position: relative;
    }

    .tablet {
        display: block;
    }

    .pc {
        display: none;
    }

    /* setting */
    /*header*/
    header {
        justify-content: space-between;
    }

    /*header*/

    /*item*/
    .item__header {
        margin-top: 67px;
    }

    .item_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*item*/

    /*footer*/
    .footer-header,
    .footer-header__column {
        flex-direction: column;
        gap: 17px;
    }

    .footer-header__column {
        border-bottom: 1px solid rgba(136, 136, 136, 0.2);
        padding-bottom: 17px;
    }

    .footer-bottom {
        border: none;
    }

    /*footer*/


}

/*adapt tablet*/

/*adapt mobile*/
@media screen and (max-width: 635px) {

    /* setting */
    .container {
        max-width: 390px;
        margin: 0 auto;
        position: relative;
    }

    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

    .mobile__none {
        display: none;
    }

    /* setting */
    /*header*/
    header {
        justify-content: space-between;
    }

    /*header*/

    /*item*/
    .item__header {
        margin-top: 67px;
    }

    .item_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item__small-ops {
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;

        color: #000000;


    }

    .item__title {
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;

        color: #000000;
    }

    .item__stars {
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .item__nav {
        flex-direction: row-reverse;
    }

    /*item*/
    /*Similar products*/
    .similar__list {
        align-items: center;
        justify-content: center;
    }

    /*Similar products*/

    /*footer*/
    .footer-header,
    .footer-header__column {
        flex-direction: column;
        gap: 17px;
    }

    .footer-header__column {
        border-bottom: 1px solid rgba(136, 136, 136, 0.2);
        padding-bottom: 17px;
    }

    .footer-bottom {
        border: none;
    }

    /*footer*/


}

/*adapt mobile*/